/* Stile generale del corpo */
body {
    font-family: "Montserrat", sans-serif; 
}

/* Contenitore principale del carosello */
.my-carousel-container {
    min-height: 700px;
    min-width: 800px;
    max-width: 1350px;
    margin: 0 auto; 
    /* background-color: aquamarine; */
}

/* Sezione delle immagini principali del carosello */
.my-carousel-images {
    height: 540px;
    border: 1px solid;
    /* background-color: cadetblue; */
}

/* Contenitore delle miniature */
.my-thumbnails {
    height: 160px;
    border: 1px solid; 
    /* background-color: violet; */
}

/* Stile dei pulsanti di navigazione (next e previous) */
.my-previous,
.my-next {
    height: 40px;
    width: 40px;
    border-radius: 50%; /* Pulsanti arrotondati */
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.5); /* Sfondo semitrasparente */
    z-index: 1; /* Assicura che i pulsanti siano sopra gli altri elementi */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%);
    cursor: pointer; 
    position: absolute;
}

/* Posizionamento del pulsante "previous" */
.my-previous {
    left: 1rem; /* Posizionato a sinistra */
}

/* Posizionamento del pulsante "next" */
.my-next {
    right: 1rem; /* Posizionato a destra */
}

/* Slide del carosello */
.my-carousel-item {
    display: none; /* Nasconde tutte le slide di default */
    height: 100%;
    position: relative;
}

.my-carousel-item.active {
    display: block; /* Mostra solo la slide attiva */
}

/* Immagini nelle slide */
.my-carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Descrizione delle slide */
.item-description {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    text-align: end;
    text-shadow: 2px 2px 2px black;
}

/* Contenitore delle miniature */
#my-carousel .my-thumbnails {
    flex-basis: 20%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    position: relative;
}

/* Stile delle miniature */
#my-carousel .my-thumbnails .my-thumbnail {
    height: 160px;
    width: calc(100% / 5); /* Dimensiona ogni miniatura in base al numero */
    filter: brightness(0.4); /* Riduce la luminosità delle miniature non attive */
}

#my-carousel .my-thumbnails .my-thumbnail.active {
    filter: brightness(1); /* Luminosità aumentata per la miniatura attiva */
    border: 3px solid rgb(197, 197, 197); /* Bordo evidenziato per la miniatura attiva */
}

#my-carousel .my-thumbnails .my-thumbnail img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
